<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" /> 
<html>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />--> 
<link rel="stylesheet" href="/stylesheets/reset.css" />
<link rel="stylesheet" href="/stylesheets/normalize.css"/>
<link rel="stylesheet" href="/stylesheets/fonts.css"/>
<link rel="stylesheet" href="/stylesheets/style.css"/>
	<head>
		<title><%= title %></title>
		<!--<link rel='stylesheet' href='/stylesheets/style.css' /> -->
		<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>		
		<script type="text/javascript">
			
			$(document).ready(function(){
				$("div[class=imageDiv]").children().each(function(e){
					$(this).load(function(){ //이미지를 다 불러온후 확인하기 위해
       					var divWidth = $(this).parent().width();
						var divHeight = divWidth*0.75;
						var width = this.naturalWidth;
						var height = this.naturalHeight;
						
						var widthMultiple = (width*1.0) / (divWidth*1.0);
						var heightMultiple = (height*1.0) / (divHeight*1.0);
						
						if(widthMultiple > heightMultiple) {
							$(this).css('width', divWidth);
							$(this).parent().css('padding-bottom',height/width*100+'%');
					
						}else {
							$(this).css('height', divHeight);
						}
       				});
					
				});
			});

		</script>
	</head>
<%
	var score = total[0].score;
	var maxScore = total[0].maxScore;
%>			
	<body>
		<div class="topBanner">
			<div style="width:100%; height:25px; padding:8px 0;">
				<a href="/" style="background-image:url(/images/someta.png); width:102px; height:28px; background-size:102px 28px; display:inline-block;" onclick="return false;"></a>
				<!-- <div style="position:relative; /*width:100px;*/ margi-right:-20px; float:right;">
					<span>썸타</span>
				</div> -->
			</div>
		</div>
		<div class="totalDiv"> <!-- post -->
			<div style="padding: 20px 20px; height: 20px; vertical-align:middle;"> <!-- post header -->
				<div style="width:100%; position:relative; float:left; margin-left:10px;">
					<span class="white2">당신의 점수는 총 <%= maxScore%>점 중 <%= score%>점! </span>
				</div>
			</div>
		</div>
		<div class="post_container"> <!-- posts container -->
			
<%
	var Qseq = 0;
	var Aseq = 0;
	var qId;
	for(var i=0; i<results.length; i++)
	{
		var result = results[i];

		// 점수가 0 이상일 때 + 기호 붙여주기
		if(result.score >= 0) {
			result.score = '+' + result.score;
		}

		if(qId != result.qId) 
		{
			Qseq += 1;
			Aseq = 0;
			qId = result.qId;
%>
			<article class="postDiv"> <!-- post -->
				<!-- post header -->
				<!-- 
				<header class="postHeader"> 
					<div style="/*width:100%*/; position:relative; float:left; margin-left:10px; margin-bottom: 5px;">
						<span class="white1"><%= Qseq%>번</span>
					</div>
				</header> 
				-->
				<div class="imageDiv">
					<img src="/images/<%=result.qId%>.jpg" alt="이미지" style="">
				</div>

				<!-- question -->
				<div class="questionDiv" style="padding: 10px 20px 15px 20px;"> 
					<section>
						<div style="margin-top:5px; margin-bottom:10px;">
							<span class="red2">Q. </span>
							<span class="white2"><%= result.question %></span>
						</div>
					</section>
					<ul>

<%
		}
		Aseq += 1;
		if(result.selected == 1)
		{
%>
						<li class="answer">
							<span class="white3"><%= Aseq %>. </span><span class="red3"><%= result.answer %></span>
						</li>
<%
		}
		else
		{
%>					
						<li class="answer">
							<span class="white3"><%= Aseq %>. <%= result.answer %></span>
						</li>
<%
		}
%>
						<li class="explanation">
							<span class="white3"><%= result.score %>점, <%= result.explanation %></span>
						</li>
<%
		if(i+1 == results.length || qId != results[i+1].qId) 
		{
%>
					</ul>
				</div>
			</article>			
<%
		}
	}
%>
			<!--
			<div style="max-width:600px; text-align:center; margin-bottom:20px;">
				<a id="more" href="#" style="width:80%; text-decoration: none;border-color: #4090db; border-radius: 3px; border-style: solid; border-width: 1px; color: #4090db; font-size: 14px; line-height: 34px; margin: 20px 20px 0; padding: 0; display:inline-block; font-weight:600;">더 불러오기..</a>
			</div> 
			-->
			<!--
			<div id="noMore" style="max-width:600px; text-align:center; margin-bottom:20px; display:none;">
				<span style="font-size: 14px; line-height: 34px; margin: 20px 20px 0; padding: 0; display:inline-block; font-weight:600;">더이상 게시물 없음.</span>
			</div>
			-->
			<div class="footer">
				<div class="footer-inner">
					<div>
						<a href="/" style="background-image:url(/images/someta_grey.png); width:102px; height:28px; background-size:102px 28px; display:inline-block;" onclick="return false;"></a>
					</div>
					<!-- <span style="color: #4b4f54;">© 2016 디비조</span> -->
				</div>
			</div>
		</div>
	</body>
</html>